body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

h1, h2 {
    color: #343a40;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

form input, form select, form button {
    flex: 1 1 48%; 
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin: 5px; 
}

form button {
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #ced4da;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li:last-child {
    border-bottom: none;
}

.task-name {
    flex-grow: 1;
}

.task-completed .task-name {
    text-decoration: line-through;
    color: grey;
}

.date-overdue {
    color: red;
}

.task-actions {
    display: flex;
    align-items: center;
}

.task-actions .badge {
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: 10px;
}

.task-actions .btn {
    margin-left: 10px;
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #007bff;
    transition: background-color 0.3s, color 0.3s;
}

.task-actions .btn:hover {
    background-color: #e2e6ea;
    color: #0056b3;
}

.task-actions .btn-info:hover,
.task-actions .btn-secondary:hover {
    background-color: #007bff;
    color: #ffffff;
}

.task-actions .btn-danger {
    background-color: #dc3545;
    border: 1px solid #dc3545;
    color: #ffffff;
}

.task-actions .btn-danger:hover {
    background-color: #ffffff;
    border: 1px solid #dc3545;
    color: #dc3545;
}

.badge-success {
    background-color: #28a745;
    color: #fff;
}

.badge-warning {
    background-color: #ffc107;
    color: #fff;
}

.badge-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

.btn-info {
    background-color: #17a2b8;
    color: #fff;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn:hover {
    opacity: 0.8;
}

.no-tasks {
    text-align: left;
    color: #6c757d;
    margin-top: 10px;
}

.priority-indicator-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.priority-indicator {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.priority-urgent {
    background-color: red;
}

.priority-important {
    background-color: yellow;
}

.priority-any {
    background-color: blue;
}

.priority-text {
    font-size: 12px;
    color: #343a40;
}

/* Styles pour le mode sombre */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .container {
    background-color: #1e1e1e;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

body.dark-mode h1, body.dark-mode h2 {
    color: #e0e0e0;
}

body.dark-mode form input, body.dark-mode form select, body.dark-mode form button {
    background-color: #333;
    border: 1px solid #444;
    color: #e0e0e0;
}

body.dark-mode form button {
    background-color: #007bff;
}

body.dark-mode form button:hover {
    background-color: #0056b3;
}

body.dark-mode ul li {
    border-bottom: 1px solid #444;
}

body.dark-mode .task-completed .task-name {
    color: #757575;
}

body.dark-mode .date-overdue {
    color: #ff6666;
}

body.dark-mode .task-actions .btn {
    background-color: #333;
    border: 1px solid #007bff;
    color: #007bff;
}

body.dark-mode .task-actions .btn:hover {
    background-color: #444;
    color: #0056b3;
}

body.dark-mode .task-actions .btn-info:hover,
body.dark-mode .task-actions .btn-secondary:hover {
    background-color: #007bff;
    color: #ffffff;
}

body.dark-mode .task-actions .btn-danger {
    background-color: #dc3545;
    border: 1px solid #dc3545;
    color: #ffffff;
}

body.dark-mode .task-actions .btn-danger:hover {
    background-color: #ffffff;
    border: 1px solid #dc3545;
    color: #dc3545;
}

body.dark-mode .badge-success {
    background-color: #28a745;
    color: #fff;
}

body.dark-mode .badge-warning {
    background-color: #ffc107;
    color: #fff;
}

body.dark-mode .badge-danger {
    background-color: #dc3545;
    color: #fff;
}

body.dark-mode .btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

body.dark-mode .btn-info {
    background-color: #17a2b8;
    color: #fff;
}

body.dark-mode .btn-danger {
    background-color: #dc3545;
    color: #fff;
}

body.dark-mode .no-tasks {
    color: #9e9e9e;
}

body.dark-mode .priority-text {
    color: #e0e0e0;
}